.container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    border:solid black;
    border-radius:2%;
    background-image: url("https://cdn.pixabay.com/photo/2017/06/04/18/14/marble-2371776_1280.jpg");
    gap:10px; 
  }
  textarea{
   width:500px;
   height:250px;
  }
  .box{
    padding:5px;
    margin:5px;
    font-family:sans-serif;
    font-weight:600;
    width:500px;
    height:250px;
  }
  .two{
    height:70%;
    width:90%;
   
  }
  .two img{
    height:90%;
    width:100%;
    object-fit:fill;
    border-radius:7px;
  }
  .choose{
    position:absolute;
    top:15px;
  }
  #state{
    color:#FFE4C4;
    padding:10px;
  }
  .five{
    height:90%;
    width:90%;
    border-radius:7px;
  }
  .five img{
    height:70%;
    width:100%;
    object-fit:cover;
    border-radius:7px;
  }
  .homecity{
    position:absolute;
    top:430px;
    color:white;
  }
  #city{
    padding:10px;
  }
  .eight{
    height:90%;
    width:90%;
    border-radius:7px;
  }
  .eight img{
    height:65%;
    width:100%;
    object-fit:fill;
    border-radius:7px;
  }
  .vacation, .destination{
    color:white;
    padding:10px;
  }
    .destination-eight{
     position:absolute;
     top:840px;
    }
  .three, .four, .nine{
    height:90%;
    width:95%;
  }
  @media only screen and (max-width:700px){
    .container{
        grid-template-columns:1fr;
  }
  .three, .four, .nine{
    width:91%;
  }
  .box textarea{
    width:118%;
  }}

  
  
  
  